{% extends 'base.html' %}
{% block body %}
<div class="container text-center">
    <br>
    <h2 style="font-family: 'Monoton', cursive;">{{the_title}}</h2>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                {% for row_title in the_row_titles %}
                <th>{{row_title}}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for log_row in the_data %}
        <tr>
            {% for item in log_row %}
            <td>{{item}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}


